body.landing {
  height: 3200px;
  /*background-image: url(../images/mockups/1440.png);*/
  background-repeat: no-repeat;
  background-position: top center;
}

body.landing * {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

body.landing .menubar div {
  max-width: 1440px;
  margin: 0 auto;
}

.landingWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 1440px;
  margin: 0 auto;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

.mainSection {
  position: relative;
  width: 1440px;
  height: 800px;
  overflow: hidden;
  background-color: #fcfffe;
}

.mainSection h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
}

.mainSection p {
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  line-height: 36px;
  margin-top: 28px;
}

.mainSection.right {
  background-color: #879696;
}

.mainSection.center {
  text-align: center;
  background-color: #879696;
  border-color: #FAFAFA;
}

.mainSection.center h2 {
  font-size: 40px;
  line-height: 52px;
  color: white;
}

.mainSection.center p {
  margin-top: 27px;
  color: white;
}

.mainSection.center section {
  top: 182px;
  width: 100%;
}

.mainSection section {
  position: absolute;
  top: 191px;
  width: 580px;
}

.mainSection.left section {
  left: 160px;
}

.mainSection.right section {
  right: 60px;
}

.mainSection.right h2 {
  color: white;
}

.mainSection.right p {
  color: white;
}

.mainSection section figure {
  width: 30px;
  height: 4px;
  margin-top: 56px;
  background: url(../images/pattern.png);
}

.mainSection.left section figure {
  margin-left: 0 auto;
}

.mainSection.right section figure {
  margin-left: 0 auto;
}

.mainSection.center section nav {
  margin-top: 70px;
  font-size: 0;
}

.mainSection.center section nav a {
  margin: 0 10px;
}

.mainSection.center footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding-bottom: 35px;
}

.mainSection.center footer p {
  font-size: 16px;
}

.mockup {
  position: absolute;
  background-size: cover;
}

#mockup1 {
  top: 234px;
  right: -11px;
  width: 701px;
  height: 660px;
  background-image: url(../images/about.png);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

#mockup2-1 {
  top: 193px;
  left: 160px;
  width: 140px;
  height: 317px;
  background-image: url(../images/about.png);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

#mockup2-2 {
  top: 193px;
  left: 333px;
  width: 140px;
  height: 400px;
  background-image: url(../images/works.png);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

#mockup2-3 {
  top: 193px;
  left: 505px;
  width: 142px;
  height: 477px;
  background-image: url(../images/work.png);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

#mockup3 {
  top: 343px;
  right: 40px;
  width: 763px;
  height: 405px;
  background-image: url(../images/screens.png);
}
